<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!--数据库连接串-->
    <add name="DBCS" connectionString="Data Source=(local);Initial Catalog=haha2;Persist Security Info=True;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--数据库连接串-->
    <add key="ConnectionString" value="Data Source=(local);Initial Catalog=haha2;Persist Security Info=True;User ID=sa;Password=123456"/>

  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebUI.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WebUI.Service1">
        <endpoint address="" behaviorConfiguration="WebUI.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebUI.Service1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>